
@import "./partials/variables";

header{

    nav {
        position: absolute !important;
        z-index: 1000;
        width: 99%;
        padding: 3%;
        .collapse {
            padding-right: 1%;
            img {
                width: 100px;
            }
            ul{
                li{
                    a{
                        color: $color-black;
                    }
                }
            }
        }

        .right-buttons {
            button {
                position: relative;
                i{
                    font-size: 25px;
                }

                .icon-count {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background-color: black;
                    color: white;
                    font-size: 12px;
                    position: absolute;
                    top: -2px;
                    right: -4px;
                }
            }
        }
    }
}

.slider {
    // position: absolute;
    top: 0;
    // width: 100%;
    height: 100%;

    .karusel {
        .item {
            background-image: url('https://caketheme.com/html/ruper/media/slider/19.jpg');
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .item-1 {
            background-image: url('https://caketheme.com/html/ruper/media/slider/19.jpg');
            // height: 100vh;
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
        }

        .item-2 {
            background-image: url('https://caketheme.com/html/ruper/media/slider/20.jpg');
        }

        .item-3 {
            background-image: url('https://caketheme.com/html/ruper/media/slider/21.jpg');
        }

    }
}

// section {
//     // margin-top: 50%;
//     .container-xxl {
//         div{
//             height: 100vh;
//         }
//         .chair {
//             width: 300px; 
//             background-image: url('https://caketheme.com/html/ruper/media/product/cat-11.jpg');
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: 100%;
//         }

        

//         .home-office {
//             background-image: url('https://caketheme.com/html/ruper/media/product/cat-14.jpg');
//             background-repeat: no-repeat;
//             background-position: center;
//             background-size: 100%; 
//         }
//     }
// }

main{
    section{
        .container-xxl{
            .list{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                width: 100%; 
                ul{
                    align-items: center; 
                    
                    li{
                        list-style: none;
                        margin: 5%;
                        a{
                            text-decoration: none;
                        }
                    }

                }
            }
            .row{
                display: flex;
                justify-content: center;
                flex-wrap: wrap; 
                .card{
                    padding: 0 !important;
                    overflow: hidden;
                    margin: 1%;
                    position: relative;
                    border: none; 
                    .hover-div{
                        display: none;
                        justify-content: center;
                        width: 100%;
                        position: absolute;
                        bottom: 6rem;
                        .hover-icon{
                            background-color: white;
                            margin: 1%;
                            padding: 2%;
                            font-size: 20px;
                        }
                        .hover-icon:hover{
                            background-color: black;
                            transition: .25s;
                        }
                        .hover-icon:hover i{
                            color: white;
                            transition: .25s;
                        }
                    }
                }
                .card:hover .hover-div{
                    display: flex;
                    transition: 1s;
                }
                .card:hover a .img{
                    display: none;
                }
                .card:hover a .hover-img{
                    display: block;
                    // transition: .25s;
                }
            }
        }
    }
}
